@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&family=Forum&family=Lato:wght@300&display=swap');

html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

header {
    background-image: url(5594016.jpg);
    background-attachment: fixed;
    height: 100vh;

}

nav {
    padding-top: 25px;
    margin: auto;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-shadow: 2px 2px 7px #b1b1b1;
}

nav a {
    transition: ease-in .5s;

}

nav a:hover {
    color: #2e01f8;
}

nav img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
}

nav a {
    color: #40c239;
    font-size: 20px;
    text-decoration: none;

}

.active {
    color: #2e01f8;
}


.header-text {
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 75%;
}

header h1 {
    color: #40c239;
    font-family: 'Cormorant Garamond', serif;
}

header p {
    color: #2e01f8;
    font-family: 'Forum', cursive;

}

header h1,
header p {
    text-shadow: 2px 2px 7px #797979;

}

.acful {
    background: linear-gradient(45deg, #2e01f8, #40c239);

}

.aboutus {
    height: 100vh;
    width: 100%;
    margin: auto;
}

.aboutus h1 {
    text-align: center;
    padding-top: 25px;
    font-size: 75px;
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 7px #797979;


}

.aboutus p {
    color: rgb(0, 0, 0);
}

.ac {
    display: flex;
    height: 100%;
}

.left {
    display: flex;
    align-items: center;
    justify-content: first baseline;
    width: 50%;
}

.left img {
    height: 100%;
    
}



.right {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    line-height: 25px;
    text-align: center;
}

.right p {
    font-size: 20px;

}

.right p {
    width: 70%;
}

.services {
    height: 40vh;
    background-image: url(5594016.jpg);
    background-attachment: fixed;
}

.servicesinner {
    display: flex;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.box {
    width: 270px;
    height: 270px;
    border-radius: 50%;
    border-width: 6px;
    border-style: solid;
    background: linear-gradient(white, white) padding-box,
    linear-gradient(to bottom, #40c239, #2e01f8) border-box;
    border-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.315) 0px 2px 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    transition: ease-in-out 1s;
    cursor: pointer;
}

.box:hover {
    border-radius: 0px;
}

.box h1 {
    background: -webkit-linear-gradient(#40c239, #2e01f8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact {
    background: linear-gradient(45deg, #2e01f8, #40c239);
    height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin: auto;
    padding-bottom: 30px;
}

input,
textarea {
    resize: none;
    width: 40%;
    height: 70px;
    padding: 10px;
    border-radius: 3px;
    border-width: 5px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.342);
    border-style: solid;
    background: linear-gradient(white, white) padding-box,
        linear-gradient(to bottom, #39c267, #0181f8) border-box;
    border-color: transparent;
}

form h1 {
    text-align: center;
    padding-top: 45px;
    padding-bottom: 25px;
    font-size: 50px;
    color: white;
    text-shadow: 2px 2px 7px #797979;

}

textarea {
    height: 400px;
}

label {
    display: none;
    font-size: 0px;

}

footer{
  background: black;
  color: white;
  text-align:center;
}